@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Readex+Pro&display=swap');

:root {
  --primary-font: 'Readex Pro', sans-serif;
  --secondary-font: 'Meow Script', cursive;
  --primary-black: #000;
  --light-gray: #f8f9fa;
  --light-gray-1: #e9ecef;
  --light-gray-2: #dee2e6;
  --light-gray-3: #e9ecef;
  --light-gray-4: #6c757d;
  --light-gray-4: #495057;
  --primary-white: #fff;
  --color-btn-primary: #006241;
  --color-btn-secondary: #d50032;
  --radius: 5px;
  --transition: all 0.3s linear;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
}
main {
  min-height: 100vh;
  overflow: hidden;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
.btn {
  padding: 0.375rem 0.775rem;
  background: var(--light-gray-3);
  color: #000;
  border: none;
  border-radius: var(--radius);
  transition: var(--transition);
}
.btn:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  border: 1px solid #fff;
}

/* SECTION-TITLE */
.section-title {
  margin-top: 2rem;
  text-align: center;
  font-family: var(--secondary-font);
}
.section-title h1 {
  font-size: 4rem;
}
.section-title .underline {
  height: 0.25rem;
  width: 10rem;
  background: #fff;
  margin: 1rem auto;
}

/* FORM */
.todo-form {
  width: 85vw;
  max-width: 1170px;
  margin: 2rem auto;
}
.todo-form .todo-input {
  width: 100%;
  max-width: 35rem;
  display: block;
  border: none;
  outline: none;
  appearance: none;
  padding: 1rem;
  margin: 1rem 0;
  height: 2.5rem;
  border-radius: var(--radius);
  background: rgba(255, 255, 255, 0.7);
  transition: var(--transition);
}
.number-input {
  display: block;
  margin: 1rem 0;
  height: 2.5rem;
  padding: 0 1rem;
  border-radius: var(--radius);
  background: rgba(255, 255, 255, 0.7);
}
.number-input:focus {
  background: #fff;
}

.todo-form .todo-input:focus {
  background: #fff;
}
.todo-form button:disabled {
  cursor: not-allowed;
}
/* TODOS */
.center {
  text-align: center;
  font-family: var(--secondary-font);
  letter-spacing: 0.2rem;
  color: var(--color-btn-primary);
}
.todos {
  width: 85vw;
  max-width: 1170px;
  margin: 0 auto;
  display: grid;
  gap: 2rem;
}
.todo {
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #fff;
  min-height: 15rem;
  position: relative;
}
.todo-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
  padding-bottom: 1rem;
}
.todo-header h3 {
  color: var(--light-gray-4);
  max-width: 15rem;
  word-wrap: break-word;
}
.icons i {
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.todo-header button:nth-child(1) {
  color: var(--color-btn-primary);
  background: transparent;
  border: none;
  margin-right: 1rem;
}
.todo-header button:nth-child(2) {
  color: var(--color-btn-secondary);
  background: transparent;
  border: none;
}
.todo-exp {
  padding: 1rem 0;
  font-size: 0.9rem;
  color: var(--light-gray-2);
  word-wrap: break-word;
}

@media screen and (min-width: 568px) {
  .todos {
    grid-template-columns: repeat(auto-fill, minmax(250px, 350px));
  }
}

/* Loading */
.loading {
  display: inline-block;
  height: 5rem;
  width: 5rem;
  border: 0.3rem solid #fff;
  border-radius: 50%;
  border-top-color: var(--light-gray-4);
  animation: spinner 0.6s linear infinite;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
/* ALERT */
.alert {
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0;
  max-width: 35rem;
  border-radius: var(--radius);
  text-align: center;
}
.border {
  border-color: #d50032;
}

.success {
  background: var(--color-btn-primary);
  color: #fff;
}
.danger {
  background: var(--color-btn-secondary);
  color: #fff;
}

/* URGENCY */
.urgency {
  position: absolute;
  top: -1rem;
  left: -1rem;
  background: var(--color-btn-secondary);
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.urgency-animation {
  animation: urgency 2s linear infinite;
}

@keyframes urgency {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
